<div class="col-tablet-portrait-4  p-1">
    <div class="app p-2">
        <img class="border-rounded" src="<%= icon %>" alt="<%= uid %>-icon" height="60" width="60">
        <a class="content ml-3 text-dark" href="/app/<%= uid %>">
            <div class="h6 m-0"><strong><%= name %></strong></div>
            <div class="description mt-2"><%= short %></div>
        </a>
        <a href="/app/edit/<%= uid %>" class="text-dark">
            <i class="fas fa-pencil fa-lg"></i>
        </a>
    </div>
</div>